/node_modules/
/lib/
/test/

# top level source
/dist/

/app/node_modules/

# next.js
/app/.next/
/app/out/
/app/!public/


# production
/app/build

# misc
.DS_Store
/app/.env*

# debug
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

# Environment Variables
/app/.env
/app/.env.build
scratchpad/