/node_modules/
/lib/
/test/

# top level source
glade-element.js
glade-element.js.map
glade-element.d.ts
glade-element.d.ts.map
glade-element.bundled.js

/app/node_modules/

# next.js
/app/.next/
/app/out/
/app/!public/


# production
/app/build

# misc
.DS_Store
/app/.env*

# debug
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

# Environment Variables
/app/.env
/app/.env.build